[viewBag]
==
<!-- Favicon -->
    <link href="{{ 'assets/images/favicon.ico'|theme }}" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="{{ 'assets/images/favicon.ico'|theme }}" sizes="128x128" rel="shortcut icon" />
    <!-- css file -->
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{{ 'assets/css/responsive.css'|theme }}">
    <!-- main css file -->
    <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
    
    {% styles %}